click
configparser
cycler
dataclasses
Flask
Flask-MySQLdb
Flask-SQLAlchemy
gensim==3.6.0
greenlet
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
mysqlclient
nltk
numpy
pandas
pickle-mixin
Pillow
pybind11
pyparsing
python-dateutil
python-docx
python-Levenshtein
pytz
PyYAML
regex
scikit-learn
scipy
seaborn
six
smart-open
SQLAlchemy
threadpoolctl
tqdm
typing-extensions
Werkzeug
zipp
