<html>

<head>
    <title>Medical Department Identifier</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
 <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">

    <script src="{{ url_for('static',filename='styles/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/jquery.min.js') }}"></script>
   
</head>

<body>

<div class="container">
<form action="{{ url_for('predict')}}"method="post">
<div class="form-group">
Name: <input type="text" name="name" required>
</div>    
<br>
<div class="form-group">
    E-mail: <input type="text" name="email" required>
    </div>
    <br>
    <div class="form-group">
Disease Description(like name, symptoms etc): <input type="text" name="dd" required>
    </div>
        <br>
<input type="submit">
</form>
    <h3><b>{{ prediction_text }}</b></h3>
</div>
<br>
<br>



</body>
</html>
